<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Floating Blobs</title>
</head>
<body>
    <div class="blob-container">
        <div class="blobs">
            <div class="blob">
                <div class="blob-content">
                    Blob 1
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 2
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 3
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 4
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 5
                </div>
            </div>


            
            <div class="blob">
                <div class="blob-content">
                    Blob 5
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 5
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 5
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 5
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 5
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 5
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 5
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 5
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 5
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 5
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 5
                </div>
            </div>
            <div class="blob">
                <div class="blob-content">
                    Blob 5
                </div>
            </div>

        </div>
    </div>
</body>
</html>
